
body {
    width: 100%;
    margin: 0;
}

header {
    background-image: url(../images/lighthouselogo.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-color: #869dc7;
}
h1 {
    padding-top: 30px;
    font-family: fantasy;
    text-align: center;
    margin: 0;
}

.grid_container{
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "A B C"
    "D D D";
    max-width: 100%;
    margin: 0 auto;
  }
    .A {grid-area: A;}
    .B {grid-area: B;}
    .C {grid-area: C;
        margin: 50px 20px auto 10px;}
    .D {grid-area: D;}

nav{
    background-color: lightsteelblue;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    margin-top: 0;
    padding-left: 0;
}

nav ul li {
    list-style: none;
    text-align: left;
    background-color: lightpink;
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid white;
}

img {
    max-width: 100%;
    height: auto;
} 

footer{
    background-color: #869dc7;
    text-align: center;
    color: darkblue;
}

footer p {
    padding-top: 0;
}

h2 {
    color: lightsteelblue;
}

